.form-check-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;

    &:checked {
        background-color: var(--primary-bg-color);
        border-color: var(--primary-bg-color);

        &::before {
            content: "\f00c";
            font-family: "Line Awesome Free";
            position: absolute;
            color: #fff;
            z-index: 1;
            font-weight: 800;
            @include flexBox(center, center);
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #495057;
    vertical-align: top;
    border-color: #eff2f7;
    background-color: var(--white-color);
    color:var(--text-color) ;

    thead {
        color: var(--white-color);
        border-color: var(--primary-bg-color);
        background-color: var(--primary-bg-color);
    }

    &.dataTable {
        th {
            position: relative;
            cursor: pointer;

            &.sorting {

                &.sorting_asc:before,
                &.sorting_desc:after {
                    opacity: 1;
                }

                &::before,
                &::after {
                    position: absolute;
                    top: 50%;
                    display: block;
                    opacity: 0.3;
                    line-height: 1;
                    transform: translateY(-50%);

                }

                &:after {
                    right: 0.5em;
                    content: "↓";
                }

                &::before {
                    right: 1em;
                    content: "↑";
                }
            }
        }
    }

}

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
}

.table tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-size: 3 + $fs-value;
    text-align: left;
}

.table-nowrap {

    td,
    th {
        white-space: nowrap;
    }
}

.table th {
    font-weight: 600;
}

.table> :not(caption)>*>* {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
}

.align-middle {
    vertical-align: middle !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.table_responsive {
    overflow: auto;
    width: 100%;
}