section.main_section {
    float: left;
    width: 100%;
    min-height: calc(100vh - 65px);
    background-color: var(--grey-color);
}
main {
    float: left;
    width: calc(100% - 270px);
    margin-left: 270px;
    margin-top: 75px;
    min-height: calc(100vh - 75px);;
    background-size: 1px 1px;
    background-position: center;
    background-repeat: repeat;
    padding: 30px;
    /* transition:margin 0.5s ease-in-out; */
}
.sidenav_collapsed main {
    width: calc(100% - 80px);
    margin-left: 80px;
}
body.rtl {
    direction: rtl;
}
body.rtl main {
    margin-right: 270px;
    margin-left: 0;
}
/* body.contrast {
    filter: contrast(200%);
} */


.breadcrumb-header {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}