<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <h2 class="main-content-title font-weight-800">Buttons</h2>
    </div>
</div>
<div class="row">
    <div class="column xl-6">
        <div class="card">
            <div class="card_header">
                <h3 class="card_title">Default Button</h3>
            </div>
            <div class="card_body">
                <div class="text-wrap">
                    <p>Use any of the available <code class="highlighter-rouge">.btn btn-</code> classes to quickly
                        create a styled button.</p>
                    <div class="example">
                        <div class="btn-list">
                            <a href="#" class="btn btn-default">Default</a>
                            <a href="#" class="btn btn-primary">Primary</a>
                            <a href="#" class="btn btn-secondary">Secondary</a>
                            <a href="#" class="btn btn-success">Success</a>
                            <a href="#" class="btn btn-info">Info</a>
                            <a href="#" class="btn btn-warning">Warning</a>
                            <a href="#" class="btn btn-danger">Danger</a>
                            <a href="#" class="btn btn-link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column xl-6">
        <div class="card">
            <div class="card_header">
                <h3 class="card_title">Disable Default Button</h3>
            </div>
            <div class="card_body">
                <div class="text-wrap">
                    <p>Use any of the available <code class="highlighter-rouge">.btn btn-</code> classes you must add the <code class="highlighter-rouge">.disabled</code> class to make it visually appear disabled.</p>
                    <div class="example">
                        <div class="btn-list">
                            <a href="#" class="btn disabled btn-default">Default</a>
                            <a href="#" class="btn disabled btn-primary">Primary</a>
                            <a href="#" class="btn disabled btn-secondary">Secondary</a>
                            <a href="#" class="btn disabled btn-success">Success</a>
                            <a href="#" class="btn disabled btn-info">Info</a>
                            <a href="#" class="btn disabled btn-warning">Warning</a>
                            <a href="#" class="btn disabled btn-danger">Danger</a>
                            <a href="#" class="btn disabled btn-link">Link</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column xl-6">
        <div class="card">
            <div class="card_header">
                <h3 class="card_title">Rounded Button</h3>
            </div>
            <div class="card_body">
                <div class="text-wrap">
                    <p>Use any of the available <code class="highlighter-rouge">.btn-rounded</code> classes to quickly create a styled button.</p>
                    <div class="example">
                        <div class="btn-list">
                            <a href="#" class="btn btn-rounded btn-default">Default</a>
                            <a href="#" class="btn btn-rounded btn-primary">Primary</a>
                            <a href="#" class="btn btn-rounded btn-secondary">Secondary</a>
                            <a href="#" class="btn btn-rounded btn-success">Success</a>
                            <a href="#" class="btn btn-rounded btn-info">Info</a>
                            <a href="#" class="btn btn-rounded btn-warning">Warning</a>
                            <a href="#" class="btn btn-rounded btn-danger">Danger</a>
                            <a href="#" class="btn btn-rounded btn-link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column xl-6">
        <div class="card">
            <div class="card_header">
                <h3 class="card_title">Outline Button</h3>
            </div>
            <div class="card_body">
                <div class="text-wrap">
                    <p>Use any of the available <code class="highlighter-rouge">.btn-outline-</code> classes to quickly create a styled button.</p>
                    <div class="example">
                        <div class="btn-list">
                            <a href="#" class="btn btn-outline-default">Default</a>
                            <a href="#" class="btn btn-outline-primary">Primary</a>
                            <a href="#" class="btn btn-outline-secondary">Secondary</a>
                            <a href="#" class="btn btn-outline-success">Success</a>
                            <a href="#" class="btn btn-outline-info">Info</a>
                            <a href="#" class="btn btn-outline-warning">Warning</a>
                            <a href="#" class="btn btn-outline-danger">Danger</a>
                            <a href="#" class="btn btn-outline-link">Link</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>