<div class="breadcrumb-header justify-content-between">
    <div class="left-content"> <h2 class="main-content-title font-weight-800">Dashboard</h2> </div>
</div>
<div class="row">
    <div class="xl-7 column ">
        <div class="card">
            <div class="card_body">
                <div class="row">
                    <div class="column xl-5">
                        <div class="prime-card text-center"><img class="img-fluid"
                                src="https://spruko.com/demo/nowa/Nowa/assets/img/png/dashboard8.png" alt=""></div>
                    </div>
                    <div class="column xl-7 ">
                        <div class="text-justified align-items-center">
                            <h2 class="text-color font-weight-500 mb-3 mt-2">Hi, Welcome Back <span
                                    class="text-primary">Nick!</span></h2>
                            <p class="text-color fs-18 mb-4 "> You have used the 100% of free plan storage.
                                Please upgrade your plan to get unlimited storage.</p>
                            <p class="font-weight-500 fs-12 mb-4 text-color">For billing related queries, contact us
                                through support chat or mail us at team@spruko.com </p><button
                                class="btn btn-primary mb-3 shadow">Upgrade to new Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl-5 column">
        <div class="row">
            <div class="column xl-6">
                <div class="card sales-card circle-image1">
                    <div class="card_body">
                        <div class="row">
                            <div class="column xl-8">
                                <div class="ps-4 pt-4 pe-3 pb-4">
                                    <div class="">
                                        <h6 class="text-color mb-2 fs-12 ">Today Orders</h6>
                                    </div>
                                    <div class="pb-0 mt-0">
                                        <div class="d-flex">
                                            <h4 class="tx-20 font-weight-500 mb-2 text-color">5,472</h4>
                                        </div>
                                        <!-- <p class="mb-0 fs-12 text-muted">Last week<i
                                                class="fa fa-caret-up mx-2 text-success"></i> <span
                                                class="text-success font-weight-500"> +427</span> </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="column xl-4">
                                <div
                                    class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden">
                                    <i class="las la-shopping-bag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xl-6">
                <div class="card sales-card circle-image2">
                    <div class="card_body">
                        <div class="row">
                            <div class="column xl-8">
                                <div class="ps-4 pt-4 pe-3 pb-4">
                                    <div class="">
                                        <h6 class="text-color mb-2 fs-12">Today Earnings</h6>
                                    </div>
                                    <div class="pb-0 mt-0">
                                        <div class="d-flex">
                                            <h4 class="tx-20 font-weight-500 mb-2 text-color">$47,589</h4>
                                        </div>
                                        <!-- <p class="mb-0 tx-12 text-muted">Last week<i
                                                class="fa fa-caret-down mx-2 text-danger"></i> <span
                                                class="font-weight-500 text-danger"> -453</span> </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="column xl-4">
                                <div
                                    class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden">
                                    <i class="las la-shopping-bag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xl-6">
                <div class="card sales-card circle-image3">
                    <div class="card_body">
                        <div class="row">
                            <div class="column xl-8">
                                <div class="ps-4 pt-4 pe-3 pb-4">
                                    <div class="">
                                        <h6 class="text-color mb-2 tx-12">Profit Gain</h6>
                                    </div>
                                    <div class="pb-0 mt-0">
                                        <div class="d-flex">
                                            <h4 class="tx-20 font-weight-500 mb-2 text-color">$8,943</h4>
                                        </div>
                                        <!-- <p class="mb-0 tx-12 text-muted">Last week<i
                                                class="fa fa-caret-up mx-2 text-success"></i> <span
                                                class=" text-success font-weight-500"> +788</span> </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="column xl-4">
                                <div
                                    class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden">
                                    <i class="las la-shopping-bag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column xl-6">
                <div class="card sales-card circle-image4">
                    <div class="card_body">
                        <div class="row">
                            <div class="column xl-8">
                                <div class="ps-4 pt-4 pe-3 pb-4">
                                    <div class="">
                                        <h6 class="text-color mb-2 tx-12 text-color">Total Earnings</h6>
                                    </div>
                                    <div class="pb-0 mt-0">
                                        <div class="d-flex">
                                            <h4 class="tx-22 font-weight-500 mb-2 text-color">$57.12M</h4>
                                        </div>
                                        <!-- <p class="mb-0 tx-12  text-muted">Last week<i
                                                class="fa fa-caret-down mx-2 text-danger"></i> <span
                                                class="text-danger font-weight-500"> -693</span> </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="column xl-4">
                                <div
                                    class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden">
                                    <i class="las la-shopping-bag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>