// $white-color:#fff;
// $grey-color:#eee;
// $primary-bg-color: #6c5ffc;
// $primary-bg-hover: #233ac5;
// $primary-bg-border: #5161c1;
// $dark-body: #292e4a;
// $dark-border: #30314e;
// $dark-primary: #6c5ffc;
// $transparent-primary: #6c5ffc;
// $transparent-body: #584cd9;
// $transparent-theme: rgba(0, 0, 0, 0.2);
// $dark-primary-hover: #233ac5;
// $primary-transparentcolor: #eaedf7;
// $darkprimary-transparentcolor: #2b356e;
// $transparentprimary-transparentcolor: rgba(255, 255, 255, 0.05);
// $text-color: #282f53;
// $border-color: #e9edf4;
// $box-shadow-color:rgba(0, 0, 0 , 0.01);

$fw-100:100;
$default:0.2rem;
$fs-value:10px;


$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-roboto: "Roboto", sans-serif;
$font-poppin: 'Poppins', sans-serif;