*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    height: 100%;
}
img {
    max-width: 100%;
}
ul li,
ol li {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
    color: var(--primary-bg-color);
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
code {
    font-size: 85%;
    color: inherit;
    word-break: break-word;
}
code, kbd, pre, samp {
    font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
p, ul, ol {
    margin-bottom: 1em;
}
.text-wrap {
    font-size: 4 + $fs-value;
    line-height: 1.66;
    white-space: normal;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    &::-webkit-color-swatch {
        border: none;
    }
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}